html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        block style
    body
        h1= message
        block content
        script(src='/js/script.js')
        block scripts